COMPOSE_PROJECT_NAME=contact-list-api

NODE_ENV=development

# change modules importing AppModule. see src/app.module.ts
APP_MODE=default
#APP_MODE=batch

# If you change the db authentication environment variables after db initialized,
# remove the docker volume first.
# Otherwise, you see db authentication error.
#
# This is set in docker-compose.yml
# DB_HOST=database
DB_PORT=4432
DB_USERNAME=pgadmin
DB_PASSWORD=pgpassword
DB_NAME=pgdb
POSTGRES_INITDB_ARGS='--encoding=UTF-8'
POSTGRES_TZ='Asia/Tokyo'
PGPASSWORD=pgpassword

# node-config
NODE_CONFIG_DIR=./src/config
